<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>About Us</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" type="text/css" media="screen" charset="utf-8">
    </head>
    <body>
        <h2 id="header">About Us:</h2>
        <p>We are a non-profit organization working as an animal rescue.
        We aim to help you connect with the purrfect furbaby for you!
        The animals you find on our website are rescued and rehabilitated animals.
        Our mission is to promote the ideology "adopt, don't hop!"</p>
        <div id = "footer">
            <a href={{ url_for('homepage') }} target="_self">Back to Home</a>
        </div>
    </body>
</html>
