{% extends "base.html" %}
{% block head %}Add Member{% endblock %}
{% block body %}
    <a href={{ url_for('memberspage') }} target="_self"><button class="button is-dark is-outlined is-rounded mt-1 ml-2">Back to Members</button></a>
<section class="section">
    <form action="{{ url_for('add_member') }}" method="POST">
        <div class="field">
            <label class="label">Member ID</label>
            <div class="control">
                <input class="input" type="text" name="member_id" placeholder="Enter Member ID" required>
            </div>
        </div>

        <div class="field">
            <label class="label">Debt</label>
            <div class="control">
                <input class="input" type="text" name="debt" placeholder="Enter Debt" required>
            </div>
        </div>

        <div class="column">
            <button class="button is-primary is-rounded" type="submit">Add Member</button>
        </div>
    </form>
</section>

{% endblock %}
