{% extends "base.html" %}
{% block head %}Books{% endblock %}
{% block body %}
<nav class="level mt-1">
    <div class="level-left">

        <div class="level-item">
            <div class="buttons">
                <button class="button ml-2 is-outlined is-dark is-rounded" onclick="location.href= '{{ url_for('fetch_api') }}'" >
                    Import from API</button>
            </div>
        </div>

        <div class="level-item">
            <div class="buttons">
                <button class="button is-outlined is-dark is-rounded" onclick="location.href= '{{ url_for('addbook') }}'">
                    Add New Book</button>
            </div>
        </div>

        <div class="level-item">
            <a href={{ url_for('homepage') }} target="_self"><button class="button is-outlined is-dark is-rounded">Back to Home</button></a>
        </div>

    </div>
</nav>

{% if  length > 0 %}

<section class="section">
    <div class="table-container">
        <table class="table is-bordered is-narrow">
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>Title</th>
                    <th>Authors</th>
                    <th>Average Rating</th>
                    <th>ISBN</th>
                    <th>ISBN13</th>
                    <th>Language</th>
                    <th>Total Pages</th>
                    <th>No. of Ratings</th>
                    <th>No. of text reviews</th>
                    <th>Date Published</th>
                    <th>Publisher</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book.bookID }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.authors }}</td>
                    <td>{{ book.average_rating }}</td>
                    <td>{{ book.isbn }}</td>
                    <td>{{ book.isbn13 }}</td>
                    <td>{{ book.language_cod }}</td>
                    <td>{{ book.num_pages }}</td>
                    <td>{{ book.ratings_count }}</td>
                    <td>{{ book.text_reviews_count }}</td>
                    <td>{{ book.publication_date }}</td>
                    <td>{{ book.publisher }}</td>
                    <td>
                        <div class="level">
                            <div class="level-left">
                            <div class="level-item">
                                <!-- Delete button -->
                                <form action="{{ url_for('delete_book', book_id=book.bookID) }}" method="POST">
                                    <button class="button is-danger is-small is-dark is-rounded">
                                        Delete
                                    </button>
                                </form>
                            </div>

                            <div class="level-item">
                                <!-- Update button -->
                                <form action="{{ url_for('update_book', book_id=book.bookID) }}" method="GET">
                                    <button class="button is-dark is-outlined is-small is-rounded">
                                        Update
                                    </button>
                                </form>
                            </div>

                            <div class="level-item">
                                <!-- Issue button -->
                                        <div class="select is-rounded is-dark ">
                                            <select name="member">
                                                {% for member in members %}
                                                <option value="{{ member.member_id }}">{{ member.member_id }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                            </div>
                            <div class="level-item">
                                <form id="issue_form" action="" method="POST">
                                        <button class="button is-dark is-outlined is-small is-rounded" onclick="updateFormAction()">
                                            Issue
                                        </button>
                                </form>
                            </div>

                            <script>
                                function updateFormAction() {
                                    var selectedMember = document.getElementById("member").value;
                                    var form = document.getElementById("issue_form");
                                    form.action = "./issue_book/${selectedMember}/{{ book.bookID }};
                                    form.submit();
                                }
                            </script>
                        </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% else %}
<div >No book Available</div>
{% endif %}
<section>
</section>
{% endblock %}
