{% extends "base.html" %}
{% block head %}Homepage{% endblock %}
{% block body %}
<nav class="navbar is-light">
    <div class="navbar-start">
            <a class="navbar-item is-active">Home</a>
            <a class="navbar-item" href={{url_for('bookspage')}} target="_self">Books</a>
            <a class="navbar-item" href={{url_for('memberspage')}} target="_self">Members</a>
            <a class="navbar-item" href={{url_for('transactions_page')}} target="_self">Transactions</a>
    </div>
</nav>
<section class="section">
    <div class="columns">
        <div class="column is-1">
            Search:
        </div>
        <div class="column">
            <div class="control">
                <form action={{url_for('search')}} method="POST" accept-charset="utf-8">
                    <input class="input" name="searchbox" type="text" placeholder="Enter book/author to search">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
