{% extends "base.html" %}
{% block head %}Search{% endblock %}
{% block body %}

<section>
    <div class="column is-narrow">
        Search Results:
    </div>
</section>
<section class="section">
    <div class="table-container">
        <table class="table is-bordered is-narrow">
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>Title</th>
                    <th>Authors</th>
                    <th>Average Rating</th>
                    <th>ISBN</th>
                    <th>ISBN13</th>
                    <th>Language</th>
                    <th>Total Pages</th>
                    <th>No. of Ratings</th>
                    <th>No. of text reviews</th>
                    <th>Date Published</th>
                    <th>Publisher</th>
                </tr>
            </thead>
            <tbody>
                {% for book in txt %}
                <tr>
                    <th>{{ book.bookID }}</th>
                    <th>{{ book.title }}</th>
                    <th>{{ book.authors }}</th>
                    <th>{{ book.average_rating }}</th>
                    <th>{{ book.isbn }}</th>
                    <th>{{ book.isbn13 }}</th>
                    <th>{{ book.language_cod }}</th>
                    <th>{{ book.num_pages }}</th>
                    <th>{{ book.ratings_count }}</th>
                    <th>{{ book.text_reviews_count }}</th>
                    <th>{{ book.publication_date }}</th>
                    <th>{{ book.publisher }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>


<section class="section">
    <a href={{ url_for('homepage') }} target="_self"><button class="button is-dark is-rounded is-outlined">Back to Home</button></a>
</section>
{% endblock %}
